<% provide(:title, 'About') %>

<h1>About the Private Equity Database</h1>
<p>
  Well, so far, it's not really got anything on it. But the plan is that this is to be a complete CRM and investment management toolbase specifically targeted at closed-end, blind-pool, funds. Mostly private equity and venture capital, but also infrastructure, real estate, agriculture, forestry, and even some energy assets etc., that are typically funded by institutional investors. That's the plan anyway....
</p>  

