<% provide(:title, 'Help') %>
	<h2>Help</h2>
    <p>Ok, so the important thing to remember is that you learn by your mistakes. And that you still have your health. You may have broken a multi-million dollar database and live out your days eating rice and beans in a sewer beneath the city in order to evade the Sheriffs, but at least you have your health. I think. Do you?
    </p>
